<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'stalactite', :plugin => 'stalactite' %>
    <%= stylesheet_link_tag "jquery-ui-1.9.2.custom.min.css", :plugin => 'stalactite' %>
    <%= stylesheet_link_tag "jquery-ui-timepicker-addon.css", :plugin => 'stalactite' %>
    <%= javascript_include_tag "jquery-1.8.3.js", :plugin => 'stalactite' %>
    <%= javascript_include_tag "jquery-ui-1.9.2.custom.min.js", :plugin => 'stalactite' %>
    <%= javascript_include_tag "jquery-ui-timepicker-addon.js", :plugin => 'stalactite' %>
    <%= javascript_include_tag "underscore-min.js", :plugin => 'stalactite' %>
    <%= javascript_include_tag "stalactite.js", :plugin => 'stalactite' %>
<% end %>

<% if params[:type_period] == 'day' %>
    <div class="calendar_day_hour_block">
      <div class="day_hour"><%= l(:issues_for_the_day) %></div>
      <div class="calendar_day_events">
        <% @day_events["without_time"].each do |issue| %>
            <div class="<%= issue.css_classes %> tooltip calendar_day_issue">
              <%= h("#{issue.project} -") unless @project && @project == issue.project %>
              <%= link_to_issue issue, :truncate => 30 %>
              <span class="description_field"><%= render_issue_tooltip issue %></span>
            </div>
        <% end %>
      </div>
    </div>
    <hr>
    <% ('00'..'23').each_with_index do |time, index| %>
      <div class="calendar_day_hour_block">
        <div class="day_hour" attr_time="<%= index  %>"><%= time + ':00' %></div>
        <div class="calendar_day_events">
          <% @day_events[index.to_s].each do |issue| %>
            <div class="<%= issue.css_classes %> tooltip calendar_day_issue" finished_hour="<%= issue.finished_at.hour if issue.finished_at %>">
              <div><%= l(:task_time) %> <%= issue.started_at.strftime('%R') if issue.started_at %> - <%= issue.finished_at.strftime('%R') if issue.finished_at %></div>
              <%= h("#{issue.project} -") unless @project && @project == issue.project %>
              <%= link_to_issue issue, :truncate => 30 %>
              <div class="description_field"><%= render_issue_tooltip issue %></div>
            </div>
          <% end %>
          <script>
              $(function() {
                 issues_array = <%= @day_events.to_json.html_safe %>
              });
          </script>
        </div>
      </div>
      <hr>
    <% end %>

<% else %>
<table class="cal">
<thead>
<tr><th scope="col" title="<%= l(:label_week) %>" class="week-number"></th><% 7.times do |i| %><th scope="col"><%= day_name( (calendar.first_wday+i)%7 ) %></th><% end %></tr>
</thead>
<tbody>
<tr>
<% day = calendar.startdt
while day <= calendar.enddt %>
<%= ("<td class='week-number' title='#{ l(:label_week) }'>#{(day+(11-day.cwday)%7).cweek}</td>".html_safe) if day.cwday == calendar.first_wday %>
<td class="<%= day.month==calendar.month ? 'even' : 'odd' %><%= ' today' if Date.today == day %>">
<p class="day-num"><%= link_to_content_update(day.day, params.merge(:type_period => 'day', :calendar_date => day.to_s)) %></p>
<% calendar.events_on(day).each do |i| %>
  <% if i.is_a? Issue %>
  <div class="<%= i.css_classes %> <%= 'starting' if day == i.start_date %> <%= 'ending' if day == i.due_date %> tooltip">
  <%= h("#{i.project} -") unless @project && @project == i.project %>
  <%= link_to_issue i, :truncate => 30 %>
  <span class="tip"><%= render_issue_tooltip i %></span>
  </div>
  <% else %>
  <span class="icon icon-package">
    <%= h("#{i.project} -") unless @project && @project == i.project %>
    <%= link_to_version i%>
  </span>
  <% end %>
<% end %>
</td>
<%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
<% day = day + 1
end %>
</tr>
</tbody>
</table>
<% end %>

